<ng-container *ngIf="problemset">
  <div class="padding-horizontal">
    <h3>{{problemset.title}}</h3>
    <div class="time-display time-till-start" *ngIf="!hasStarted()">
      <b>Time till start: </b>{{timeTillStart}}
    </div>
    <div class="time-display time-remaining" *ngIf="hasStarted()">
      <b>Time Remaining: </b>{{timeRemaining}}
      <mat-progress-bar mode="determinate" [value]="timePassedPercent" color="primary"></mat-progress-bar>
    </div>
  </div>
  <div *ngIf="hasStarted()">
    <button mat-button *ngFor="let problem of problemset.problems"
            routerLink="/problemset/{{problemset.id}}/problem/{{problem.number}}">
      <b>{{problem.number}}</b>
      <i class="fa fa-chevron-right"></i>
      <span>
        {{problem.title}}
        <span *ngIf="problem.isSingleTask" class="single-task-score">({{problem.subtasks[0].score}} pts)</span>
      </span>
      <div class="subtasks" *ngIf="!problem.isSingleTask">
        <div class="subtask" *ngFor="let subtask of problem.subtasks">
          <b class="id">{{subtask.id | titlecase}}</b><span class="score">{{subtask.score + 'pts'}}</span>
        </div>
      </div>
    </button>
  </div>
</ng-container>
