<div>
  <h2>How to Solve a Problem</h2>
  <h3><a href="#inout" id="inout"></a>Input and Output</h3>
  Your solutions programs are always checked by a judge machine instead of a human.
  The machine runs your program with additional secret test data in addition to the sample inputs,
  and checks if your program's output matches exactly the correct answer.
  There are a few important things to keep in mind:
  <ul>
    <li>
      Your must always read from standard input (stdin in C++ and System.in in Java).
      You shall never read from a file, or pass the data as arguments of the main function.
    </li>
    <li>
      You must always output to standard output (stdout in C++ and System.out in Java).
      You shall not output to a file.
    </li>
    <li>
      Your output must be exactly the same as the correct answer, without any extra characters.
      You must remove any debugging printing or logs at stdout before submitting your program.
      stderr printing is allowed, but do not print excessively as I/O significantly slows down your program.
    </li>
  </ul>
  Below are some template I/O code for C++ and Java.
  <h3><a href="#cpp-template" id="cpp-template"></a>C/C++ Template</h3>
  <pre [appHljs]="this.cppTemplate"></pre>
  <h4>Faster I/O with C-style scanf/printf</h4>
  <pre [appHljs]="this.cppFasterIOTemplate"></pre>
  <h3><a href="#java-template" id="java-template"></a>Java Template</h3>
  <pre [appHljs]="this.javaTemplate"></pre>
  <h4>Faster I/O with BufferedReader/StringBuilder</h4>
  <pre [appHljs]="this.javaFasterIOTemplate"></pre>
</div>
<div>
  <h2>Problemset Modes</h2>
  <h3><a href="#standard" id="standard"></a>Standard Problemset</h3>
  <p>
    Standard Problemset
  </p>
  <h3><a href="#selftest" id="selftest"></a>Selftest Problemset</h3>
  <p>
    Selftest Problemset
  </p>
  <h3><a href="#open" id="open"></a>Open Judge</h3>
  <p>

  </p>
  <h3><a href="#blind" id="blind"></a>Blind Judge</h3>
  <p></p>
  <h3><a href="#score-penalty" id="score-penalty"></a>Score Penalty</h3>
  <p></p>
  <h3><a href="#time-penalty" id="time-penalty"></a>Time Penalty</h3>
  <p></p>
</div>

