# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/server/dist
/tmp
/out-tsc

# dependencies
/node_modules
/server/node_modules
/docker-script/node_modules

# API keys and secrets
.env
/server/.env

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.iml

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/server/coverage
/server/test_tmp_root
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
