<div class="div-logo" routerLink="/">
  <img src={{logoUrl}} class="logo">
  <h1>coda</h1>
</div>
<mat-divider></mat-divider>
<app-user></app-user>
<mat-divider></mat-divider>

<ng-container *ngIf="problemset">
  <div class="section">
    <app-navbar-problemset [problemset]="problemset"></app-navbar-problemset>
  </div>
  <mat-divider></mat-divider>
  <div class="section">
    <button mat-button routerLink="/problemset/{{problemset.id}}/submit">
      <i class="fa fa-arrow-circle-up submit-icon"></i>Submit
    </button>
    <button mat-button routerLink="/problemset/{{problemset.id}}/scoreboard">
      <i class="fa fa-list"></i>Scoreboard
    </button>
    <button mat-button routerLink="/problemset/{{problemset.id}}/submissions/{{api.getUser().username}}">
      <i class="fa fa-file"></i>My Submissions
    </button>
  </div>
  <mat-divider></mat-divider>
</ng-container>

<mat-accordion>
  <mat-expansion-panel expanded="{{linksExpanded}}"
                       (opened)="linksExpanded = true" (closed)="linksExpanded = false">
    <mat-expansion-panel-header>
      <mat-panel-title>Links</mat-panel-title>
    </mat-expansion-panel-header>
    <button mat-button routerLink="/problemsets">Problemsets</button>
    <button mat-button routerLink="/faq">FAQ</button>
  </mat-expansion-panel>
</mat-accordion>

