.subtask-list li {
  margin-top: 10px;
}

table.samples {
  width: 100%;
  text-align: left;
  table-layout: fixed;
}

.time-limit span {
  font-weight: normal;
}

table h4 {
  margin-top: 0;
  margin-bottom: 0;
}

.subtask-id {
  display: inline-block;
}

.problem {
  line-height: 1.5;
}

.title > h1 {
  display: inline-block;
}

.special-sample {
  display: inline-block;
  font-weight: normal;
}

.samples h4 {
  display: inline-block;
}

table tr {
  vertical-align: top;
}

mat-card {
  padding: .5em;
  margin-top: .5em;
  margin-bottom: 1em;
}

pre {
  font-weight: normal;
}
