<app-page-error *ngIf="error" [msg]="error.msg"></app-page-error>
<mat-spinner *ngIf="!problem && !error" diameter="50"></mat-spinner>
<div *ngIf="problem" class="problem">
  <div class="status" *ngIf="problem.adminView">
    You are viewing this problem as admin.
  </div>
  <div class="title">
    <h1>{{problem.title}}</h1>
    <button mat-raised-button color="primary" class="submit float-right" routerLink="submit">Submit</button>
  </div>
  <div class="time-limit">
    <h3>Time Limit: <span>{{problem.timeLimit}} {{'second' + (problem.timeLimit > 1 ? 's' : '')}}</span></h3>
  </div>
  <div class="image float-right" *ngIf="problem.illustration" [ngStyle]="getImageWidth()">
    <img src="{{getImagePath()}}">
    <div class="citation" [appHtml]="problem.illustration.text"></div>
  </div>
  <div [appMathJax]="problem.statement"></div>
  <div class="section">
    <h3>Subtasks</h3>
    <p *ngIf="problem.isSingleTask">
      <span>{{'(' + problem.subtasks[0].score + ' points): '}}</span>
      This problem does not have subtasks.
    </p>
    <ul class="subtask-list" *ngIf="!problem.isSingleTask">
      <li *ngFor="let subtask of problem.subtasks">
        <span class="subtask-id">
          <b>{{subtask.id | titlecase}}</b>
          <span>{{'(' + subtask.score + ' points): '}}</span>
        </span>
        <span [appMathJax]="subtask.text"></span>
      </li>
    </ul>
  </div>
  <div class="section margin-to-top">
    <h3>Samples</h3>
    <table class="samples">
      <tbody>
        <tr *ngFor="let sample of problem.samples; let i = index">
          <td>
            <div>
              <h4>Input {{i + 1}}<i class="fa fa-clone btn-copy"
                                    (click)="copyText(sample.in, 'Input ' + (i + 1) + ' copied')"></i></h4>
              <span class="special-sample">{{displaySubtaskOnlySample(sample)}}</span>
            </div>
            <mat-card>
              <pre [ngStyle]="getSampleHeight(sample)">{{sample.in}}</pre>
            </mat-card>
          </td>
          <td>
            <h4>Output {{i + 1}}<i class="fa fa-clone btn-copy"
                                   (click)="copyText(sample.out, 'Output ' + (i + 1) + ' copied')"></i></h4>
            <mat-card>
              <pre [ngStyle]="getSampleHeight(sample)">{{sample.out}}</pre>
            </mat-card>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
