<h3 class="page-header">Test Cases for {{problemId}}</h3>
<div class="batch note" ng-repeat="batch in batches">
  <a class="mode active btn btn-default btn-xs glyphicon glyphicon-th-large"></a>
  <a class="mode btn btn-default btn-xs glyphicon glyphicon-th-list"></a>
  <h4>Batch {{$index}}</h4>
  <span class="case" ng-repeat="case in batch" title="{{'size:' + case.size}}"></span>
  <div class="add-case btn btn-xs btn-default"><i class="glyphicon glyphicon-plus"></i></div>
</div>
<hr>
<a class="btn btn-default">Add Batch</a>
