<mat-spinner *ngIf="!submissionList && !errored" diameter="50"></mat-spinner>
<div *ngIf="errored">Something went wrong when loading this page.</div>
<ng-container *ngIf="submissionList">
  <h2>{{api.getUser().username}}'s Submissions for {{problemset.title}}</h2>
  <div class="margin-to-top">
    <ngx-datatable
      class="material striped"
      [headerHeight]="50"
      [rowHeight]="50"
      [columnMode]="'force'"
      [rows]="rows"
      [columns]="columns"
    >
    </ngx-datatable>
  </div>
</ng-container>

<ng-template #sourceLinkTmpl let-row="row" let-value="value">
  <i [routerLink]="getSourceLink(value)" class="fa fa-file-text-o"></i>
</ng-template>
