<div *ngIf="api.getCurrentUser()">You have already logged in.</div>

<form [formGroup]="form" *ngIf="!api.getCurrentUser()">
  <mat-form-field>
    <input matInput placeholder="Username / Email"
           formControlName="username" [formGroup]="form">
    <mat-error *ngIf="!form.controls.username.hasError('email') || !form.controls.username.hasError('required')">
      Please enter a valid email address
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Password" value="" type="password"
           formControlName="password" [formGroup]="form">
    <mat-error *ngIf="!form.controls.password.hasError('required')">
      Please enter a valid password
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="login()" [disabled]="form.invalid">Login</button>
</form>
