label {
  font-weight: bold;
}

mat-list-item {
  cursor: pointer;
  margin-bottom: 10px;
}

.time span {
  display: inline-block;
  min-width: 120px;
}

.mat-line.problemset {
  display: flex;
  align-items: center;
}

mat-chip.mode {
  text-align: center;
  display: inline-block;
  line-height: .5;
}

.mode.run {
  width: 60px;
}

.mode.judge {
  width: 40px;
}

.mode.penalty {
  width: 90px;
}

mat-card {
  margin-top: 30px;
}

mat-card-title {
  font-size: 1.5em;
}

.mat-nav-list .mat-list-item .row.mat-line {
  margin: 5px 0;
}

.row.mat-line /deep/ .mat-chip-list-wrapper {
  padding-bottom: 5px;
}

.header-row {
  height: 20px;
}

.header-row > * {
  float: right;
}
