.problemset {
  height: 100px;
}

label {
  font-weight: bold;
}

mat-list-item {
  cursor: pointer;
}

mat-list-item:hover {
  background: #eee;
}

.info-item {
  display: inline-block;
  min-width: 150px;
  margin-right: 1em;
}
