<div *ngIf="errored">Something went wrong when loading this page.</div>
<mat-spinner *ngIf="!problemsetList && !errored" diameter="50"></mat-spinner>
<mat-card *ngFor="let group of problemsetGroups">
  <mat-card-title>{{group.title}}</mat-card-title>
  <mat-card-content>
    <mat-nav-list>
      <mat-list-item *ngFor="let problemset of group.problemsetList" routerLink="/problemset/{{problemset.id}}">
        <mat-icon mat-list-icon>assignment</mat-icon>
        <h3 mat-line>{{problemset.title}}</h3>
        <div mat-line class="problemset">
          <div class="time">
            <span>
              <label>Start: </label>{{displayTime(problemset.startTime)}}
            </span>
            <span>
              <label>End: </label>{{displayTime(problemset.endTime)}}
            </span>
          </div>
          <mat-chip-list>
            <mat-chip class="mode run" selected="{{isSelftestMode(problemset)}}"
                      matTooltip="{{isSelftestMode(problemset) ?
                      tooltips.SELFTEST_MODE : tooltips.STANDARD_MODE}}"
                      [routerLink]="['/faq']"
                      fragment="{{isSelftestMode(problemset) ? 'selftest' : 'standard'}}"
            >
              {{problemset.runMode | titlecase}}
            </mat-chip>
            <mat-chip class="mode judge" selected="{{isBlindJudge(problemset)}}"
                      matTooltip="{{isBlindJudge(problemset) ?
                      tooltips.BLIND_JUDGE : tooltips.OPEN_JUDGE}}"
                      [routerLink]="['/faq']"
                      fragment="{{isBlindJudge(problemset) ? 'blind' : 'open'}}"
            >
              {{problemset.judgeMode | titlecase}}
            </mat-chip>
            <mat-chip class="mode penalty" selected="{{isTimePenalty(problemset)}}"
                      matTooltip="{{isTimePenalty(problemset) ?
                      tooltips.TIME_PENALTY : tooltips.SCORE_PENALTY}}"
                      [routerLink]="['/faq']"
                      fragment="{{isTimePenalty(problemset) ? 'score-penalty' : 'time-penalty'}}"
            >
              {{problemset.penaltyMode | titlecase}} Penalty
            </mat-chip>
          </mat-chip-list>
        </div>
      </mat-list-item>
    </mat-nav-list>
  </mat-card-content>
</mat-card>
