mat-sidenav-container {
  width: 100%;
  height: 100%;
}

mat-sidenav {
  display: flex;
  width: 250px;
  background: #fafafa;
  box-shadow: 3px 0 6px rgba(0,0,0,.25);
}

mat-sidenav-content {
  background: white;
}

.sidenav-content-wrapper {
  padding: 30px;
}

app-navbar {
  width: 100%;
}

.scrolling-content {
  overflow: auto;
}

#navbar-toggle {
  color: #999;
  position: absolute;
  background-color: #ccc;
  border-radius: 0;
  width: 3px;
  box-shadow: 1px 2px 4px rgba(0,0,0,.25);
}

#navbar-toggle /deep/ .mat-button-wrapper {
  left: -7px;
  position: relative;
}
