$light-gray: #eee;

html {
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: 60px;

  svg {
    border-width: 2px;
  }
}

.list-group-item {
  cursor: pointer;

  > .glyphicon {
    margin-right: 1em;
  }
}

.box {
  border: 1px solid $light-gray;
  border-radius: 4px;
  margin: 20px 0;
  padding: 12px 20px;

  &.note {
    border-left-width: 5px;
  }
}

.featured {
  .box {
    height: 240px;
  }

  button {
    bottom: 40px;
    position: absolute;
  }
}
