<div class="notice">
  <b>NOTE!</b> You must signup using an invitation code.
  All enrolled students should have received an invitation code in your university mailbox.
  If you have enrolled but not yet received the code, please contact the instructor.
</div>
<div class="notice">
  <b>NOTE!</b> You must use your university email as username.
  Please use your netID email address like <span class="tt">by123@nyu.edu</span>.
  Do not use email alias like <span class="tt">bowen.yu@nyu.edu</span>.
</div>
<form>
  <mat-form-field class="">
    <input matInput placeholder="Invitation Code">
    <mat-error *ngIf="true">
      Please enter a valid email address
    </mat-error>
  </mat-form-field>
  <mat-form-field class="">
    <input matInput placeholder="Email / Username">
    <mat-error *ngIf="true">
      Please enter a valid email address
    </mat-error>
  </mat-form-field>

  <mat-form-field class="">
    <input matInput placeholder="Password" value="" type="password">
  </mat-form-field>

  <mat-form-field class="">
    <input matInput placeholder="Repeat Password" value="" type="password">
  </mat-form-field>

  <mat-form-field class="">
    <input matInput placeholder="Full Name" value="">
  </mat-form-field>

  <button mat-raised-button color="primary">Create Account</button>
</form>
