mat-form-field {
  width: 100%;
}

.notice {
  margin-bottom: 10px;
}

form {
  margin-top: 10px;
}

.margin-to-top {
  margin-top: 20px;
}

/deep/ div.mat-tab-body-content {
  padding-left: 15px;
  min-height: 300px;
}
