<mat-tab-group>
  <mat-tab label="Password">
    <form>
      <mat-form-field class="">
        <input matInput placeholder="Current Password" value="" type="password">
      </mat-form-field>
      <mat-form-field class="">
        <input matInput placeholder="New Password" value="" type="password">
      </mat-form-field>
      <mat-form-field class="">
        <input matInput placeholder="Confirm New Password" value="" type="password">
      </mat-form-field>

      <button mat-raised-button color="primary">Update Password</button>
    </form>
  </mat-tab>
  <mat-tab label="Names">
    <form>
      <mat-form-field class="">
        <input matInput placeholder="Nickname" value="">
      </mat-form-field>
      <mat-form-field class="">
        <input matInput placeholder="Anonymized Name" value="">
      </mat-form-field>

      <button mat-raised-button color="primary">Update Names</button>
    </form>
  </mat-tab>
</mat-tab-group>
