.code-block {
}

.margin-to-top {
  margin-top: 30px;
}

.float-right {
  float: right;
}

.language h3 {
  display: inline-block;
  margin-right: 1em;
}

.language mat-radio-button {
  margin-right: .5em;
}

table td {
  padding-right: 10px;
}

mat-card {
  padding: 5px;
}

