.language h3 {
  display: inline-block;
  margin-right: 1em;
}

.language mat-radio-button {
  margin-right: .5em;
}

table td {
  padding-right: 10px;
}

.source mat-card {
  padding: 5px;
}

.btn-submit {
  margin-bottom: 60px;
}
