@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~font-awesome/css/font-awesome.css';
@import '~highlightjs/styles/github.css';
/*
@import '~codeflask/src/codeflask.css';
@import '~prismjs/themes/prism.css';
@import '~prismjs/plugins/line-numbers/prism-line-numbers.css';
*/
@import '~codemirror/lib/codemirror.css';
/*
@import '~codemirror/theme/material.css';
 */

body {
  margin: 0;
  font-size: 14px;
  font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}

.tt {
  color: #666;
  font-family: Courier;
}

form {
  max-width: 400px;
}

mat-spinner.mat-progress-spinner {
  position: fixed;
  left: 55%;
  top: 40%;
}

.hljs {
  border: 1px solid #aaa;
  padding: 1em;
}
