@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~font-awesome/css/font-awesome.css';

body {
  margin: 0;
  font-size: 14px;
  font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}

.tt {
  color: #666;
  font-family: Courier;
}

form {
  max-width: 400px;
}
