.source mat-card {
  padding: 5px;
}

h4.inline {
  display: inline-block;
  margin-right: 1em;
}

table {
  width: 100%;
  table-layout: fixed;
}

.margin-to-top {
  margin-top: 30px;
}

.case {
  display: inline-flex;
  width: 20px;
  height: 20px;
  margin: 1px;
  border: 1px solid #eee;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}

/* Offset mysterious margin */
.case.incorrect {
  margin-left: -3px;
  margin-right: -3px;
}

.unknown {
  color: #ccc;
}
