<app-page-error *ngIf="error" [msg]="error.msg"></app-page-error>
<mat-spinner *ngIf="(!submission || !problemset) && !error" diameter="50"></mat-spinner>
<ng-container *ngIf="submission && problemset && !error">
  <h3>{{getUsername()}}'s Submission #{{submission.submissionNumber}}</h3>
  <div class="pending status" *ngIf="submission.verdict === 'PENDING'">
    <mat-spinner diameter="20"></mat-spinner>
    <span>Waiting to be judged</span>
  </div>
  <div class="status" *ngIf="submission.verdict === 'WAITING'">
    <span>This submission will be judged at the end of the problemset.</span>
  </div>
  <div class="status" *ngIf="submission.verdict === 'SKIPPED'">
    <span>This submission will not be judged because a new submission exists.</span>
  </div>
  <div class="margin-to-top">
    <ngx-datatable
      class="material striped"
      [headerHeight]="50"
      [rowHeight]="50"
      [columnMode]="'force'"
      [rows]="rows"
      [columns]="columns"
    >
    </ngx-datatable>
  </div>
  <div *ngIf="submission.compileError">
    <h3>Compiler</h3>
    <pre class="compile-error">{{submission.compileError}}</pre>
  </div>

  <div class="cases" *ngIf="submission.totalCase">
    <h3>
      Test Cases
      ({{(submission.failedCase === 0 ? submission.totalCase : submission.failedCase - 1) + '/' +
      submission.totalCase}})
    </h3>
    <div>
      <span class="case correct" *ngFor="let number of ((submission.failedCase === 0 ?
            submission.totalCase : submission.failedCase - 1) | repeat)"
            matTooltip="{{'#' + number + ' Accepted'}}"
      >
        <i class="fa fa-check"></i>
      </span>
      <ng-container *ngIf="submission.failedCase">
        <span class="case incorrect"
              matTooltip="{{'#' + submission.failedCase + ' ' + (submission.verdict | verdictDisplay)}}"
        >
          <i class="fa fa-times"></i>
        </span>
        <span class="case unknown"
              *ngFor="let number of (submission.totalCase - submission.failedCase | repeat)"
              matTooltip="{{'#' + (number + submission.failedCase) + ' Not Judged'}}"
        >
          <i class="fa fa-question"></i>
        </span>
      </ng-container>
    </div>
  </div>
  <div class="source">
    <h3>Source Code<i class="fa fa-clone btn-copy"
                      (click)="copyText(submission.sourceCode)"></i></h3>
    <mat-card>
      <div class="code-block"
           [appCodeMirror]="submission.sourceCode"
           [language]="submission.language"
           readOnly="true">
      </div>
    </mat-card>
  </div>
</ng-container>
