<mat-spinner *ngIf="!this.submission || !this.problemset" diameter="50"></mat-spinner>
<ng-container *ngIf="this.submission && this.problemset">
  <h3>{{this.getUsername()}}'s Submission #{{this.submission.id}}</h3>
  <table>
    <tbody>
    <tr>
      <td>
        <h4 class="inline">Problem</h4>
        <span>{{this.problemTitle}}</span>
      </td>
      <td>
        <h4 class="inline">Language</h4>
        <span>{{this.submission.language | languageDisplay}}</span>
      </td>
      <td>
        <h4 class="inline">Problemset Time</h4>
        <span>{{this.submission.problemsetTime | timeDisplay}}</span>
      </td>
      <td>
        <h4 class="inline">Date</h4>
        <span>{{this.submission.submitTime | dateDisplay}}</span>
      </td>
    </tr>
    <tr>
      <td>
        <h4 class="inline">Verdict</h4>
        <span class="{{this.submission.verdict | verdictClass}}">{{this.submission.verdict | verdictDisplay}}</span>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="source">
    <h3>Source Code<i class="fa fa-clone btn-copy"
                      (click)="this.copyText(this.submission.source, 'source copied')"></i></h3>
    <mat-card>
      <div class="code-block"
           [appCodeMirror]="this.submission.source"
           [language]="this.submission.language"
           readOnly="true">
      </div>
    </mat-card>
  </div>
</ng-container>
