@import 'web/common/box';

$gray: #ccc;

@mixin square($size) {
  height: $size;
  width: $size;
}

.batch {
  @include box($gray);

  .mode {
    float: right;
    margin-right: 3px;
  }
}

.case {
  @include box-border($gray);
  @include square(25px);

  display: inline-block;
  margin: 1px;
  position: relative;
  text-align: center;
}

.add-case {
  @include square(25px);

  display: inline-block;
  position: relative;
  top: -10px;

  .glyphicon {
    top: 2.5px;
  }
}
